*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.cartt{
    border: 1px solid #a39c9c;
    height: 354px;
    width: 50%;
    padding: 30px;


}
.maill{
    background: black;
    color: white;
    border-radius: 0;
    padding-top: 11px;
    border: 2px solid white;
}
.maill p i {
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    color: white;
    background: black;
    margin-left: 8px;
    font-size: 15px;
}
.maill p{
    font-weight: 700;
}
.section{
    background:white;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    height: 100vh;
}
.input__box {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 28px;
}
.input__box .details {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    /* color: white; */
}

.input__box input {
    height: 36px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 15px;
    font-size: 16px;
    transition: all 0.3s ease;
}
.label{
    float: right;
    margin-right: 17px;
    margin-top: 10px;
    color: white;
}

/* @media (max-width:1617px){
    .cartt {
        margin-top: 12rem;
        margin-bottom: 12rem;
    }

} */

@media (max-width:991px){
 
    .cartt {
      
        margin-left: 12rem;
     
    }
}
@media (max-width:767px){

    .cartt {
        margin-left: 11rem;
    }


}
@media (max-width:480px){

    .cartt {
        margin-left: 1rem;
        width: 93%;
        margin-top: 2rem;
        /* margin-top: 8rem; */
        /* margin-bottom: 11rem; */
    }

}


@media (max-width:375px){
    .maill {
     
        height: 34px;
        padding-top: 6px;

    }
    .maill p {
        font-weight: 700;
        font-size: 12px;
        /* height: 7px; */
    }
    .maill p i {
    
        padding: 2px 2px 2px 2px;
      
        margin-left: 8px;
        font-size: 14px;
    }
    .cartt {
      
        margin-top: 2rem;
        /* margin-bottom: 11rem; */
    }

}