@media (max-width:1619px){
  

}



@media (max-width:1300px){

}




@media (max-width:1199px){



}




@media (max-width:991px){
    #btn {
       
        padding: 8px 12px 8px 13px;
        font-size: 13px;
    }
    .apple img {
        width: 33%;
    }

}



@media (max-width:767px){




}





@media (max-width:600px){
  


}




@media (max-width:575px){
  


}



@media (max-width:480px){
    .apple img {
        width: 48%;
    }
  

}@media (max-width:1619px){
  

}



@media (max-width:1300px){
  
}




@media (max-width:1199px){



}




@media (max-width:991px){
    #btn {
       
        padding: 8px 12px 8px 13px;
        font-size: 13px;
    }
    .apple img {
        width: 33%;
    }

}



@media (max-width:767px){




}





@media (max-width:600px){
  


}




@media (max-width:575px){
  


}



@media (max-width:480px){
    .apple img {
        width: 48%;
    }

   
  

}