@media (max-width: 2200px) {
.item {
  background-color: #fffbfb00;
  height: 441px;
}

}


@media (min-width: 2200px) {
.item {
  background-color: #fffbfb00;
  height: 307px;
}

}



@media (max-width: 2000px) {
  .form-container {
    margin: 5rem 32.125rem;
}

.cart svg {
  margin-top: -8px;
  color: #ffff;
}

.email-tagj {
  margin-left: -129px;
}

.menu_width {
  width: 23%;


  
  padding: 10px;
}

.great-logo-on {
  width: 7%;
  position: absolute;
  margin-top: -43px;
  border-radius: 7px;
  /* z-index: 11111; */
  left: 0;
}



}




@media (max-width: 1500px) {
  .form-container {
    margin: 5rem 32.125rem;
}

.email-tagj {
  margin-left: -144px;
}

.menu_width {
  width: 27%;
}

.tabset {
  max-width: 65em;
  /* margin: auto; */
  margin: 0 77px;
}


.main-side-bar a:nth-child(4) {
  position: relative;
  bottom: -11rem;
  left: 179px;
  background: #ff4155;
  width: 50%;
  padding: 11px;
  border-radius: 12px;
}


}




@media (max-width:1300px){
  .email-tagj {
      margin-left: -125px;
  }
}




@media (max-width: 1200px) {
 
  
  .listCard{
    padding: 0;
  }

  .menu_width {
    width: 27%;
}

.tabset {
  max-width: 65em;
  /* margin: auto; */
  margin: 0 107px 0px 181px;
}

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
  width: 166px;
  height: 170px;
  background: #00b07d;

  
}


}

@media (max-width: 1199px) {
  .tabset {
    max-width: 65em;
    /* margin: auto; */
    margin: 0 0px 0px 56px;
  }

  .menu_width {
    width: 35%;
}

}

@media (max-width: 1120px) {

  .listCard{
    padding: 0;
  }

.menu_width {
  width: 35%;
}

.label-img {
  text-align: center;
  font-size: 25px;
  color: #fff;
  border-radius: 19px 19px 11px 11px;
}

.tabset {
  max-width: 65em;
  /* margin: auto; */
  margin: 0 0px 0px 170px;
}


.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
  width: 121px;
  height: 141px;
  background: #00b07d;
}
  
}

@media (max-width: 991px) {
  .hero_area {
    background-position: center center;
  }

  .new-margi{
    margin-left: 0rem;
  }

  .blue-orange {
    display: none;
  }


  .User_option a span{
    display: none;
  }

  .navbar-nav {
    margin-top: 33px;
}

.great-logo-on {
  width: 8%;
  position: absolute;
  margin-top: -43px;
  border-radius: 7px;
  /* z-index: 11111; */
  left: 0;
}
 
  .User_option a{
    cursor: pointer;
    color: rgb(255, 255, 255);
    width: 29px;
    padding: 2px;
    height: 38px;
    height: 28px;
    text-align: center;
    border-radius: 14px;
  }

  .User_option a {
    color: #ffffff;
    margin-left: 0px;
}

  a:not([href]):not([tabindex]) {
    color: #000;
    text-decoration: none;
}


  .tabset {
    max-width: 65em;
    margin: 0px -1px 0px 7px;
}

.title-area-img {
  position: relative;
  display: none;
}


.order_cont h4 {
  font-size: 18px;
  /* margin-bottom: 3rem; */
  font-weight: 600;
  margin-top: 35px;
}

.rupee_details p {
  margin-top: 44px;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
}

.delivery-time h4 {
  margin-top: 37px;
  font-size: 17px;
  font-weight: 600;
  text-align: left;
  margin-left: 0px;
}

.total-price p{
  font-size: 19px;
  font-weight: 700;
}

.label-img {
  text-align: center;
  font-size: 27px;
  color: #fff;
  border-radius: 19px 19px 11px 11px;
}

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
  width: 131px;
  height: 170px;
  background: #00b07d;
}

  .slider_section {
    padding-bottom: 325px;
  }

  .slider_section .slider_container .slick-active+.slick-active+.slick-active .img-box {
    margin-top: 45px;
  }

  .slider_section .slider_container .img-box {
    margin-left: 5px;
    margin-right: 5px;
  }

  .menu_width {
    width: 65%;
}

.img-brand {
  margin-bottom: 20px;
  width: 41%;
  margin-top: -11px;
}



/* big plates */
.item {
  height: 264px;
}


}

@media (min-width: 991px) {
  .oragne-butns{
    display: none;
  }
}

@media (max-width: 767px) {
  .slider_section {
    padding-top: 45px;
    padding-bottom: 245px;
  }

  .mb_parallax_container {
    height: 100%;
    width: 100%;
    /* border-bottom: 10px solid black; */
    /* padding-top: 11vh; */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -11rem;
}

.User_option {
  margin-right: 0px !important;
}

.great-logo-on {
  width: 9%;
  position: absolute;
  margin-top: -43px;
  border-radius: 7px;
  /* z-index: 11111; */
  left: 0;
}

  .tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
    width: 161px;
    height: 154px;
    margin-top: 3rem;
    background: #00b07d;
}

.tabset > label::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 78px;
  left: 1px;
  border-radius: 70px 0px 70px 0px;
  bottom: -33px;
  clip-path: polygon(49% 50%, 100% 50%, 50% 100%, 0% 50%);
  transition-timing-function: ease-in-out;
  transition-duration: 0.6s;
}

.tabset > label::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 75px;
  left: 0px
px
;
  border-radius: 70px 0px 70px 0px;
  bottom: -33px;
  clip-path: polygon(49% 50%, 100% 50%, 50% 100%, 0% 50%);
  transition-timing-function: ease-in-out;
  transition-duration: 0.6s;
}


.label-img {
  text-align: center;
  font-size: 22px;
  color: #fff;
  border-radius: 19px 19px 11px 11px;
}

  .slider_section .detail-box h1 {
    font-size: 3rem;
    margin-top: 3rem;
  }

  .slider_section .slider_container .slick-prev {
    left: 25px;
  }

  .slider_section .slider_container .slick-next {
    right: 25px;
  }

  .recipe_section {
    padding-bottom: 90px;
  }

  .app_section {
    background: #4855fe;
    padding: 75px 0;
    overflow: hidden;
}

  .app_section .detail-box {
    margin-bottom: 45px;
  }


  .info_section .info_links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info_section .info_links a {
    display: inline-block;
    margin-bottom: 10px;
  }
  .sidenav {
    height: 100%;
    width: 100%;
  }
  
  .listCard{
    padding: 0;
  }

  .menu_width {
    width: 78%;
}
  

  .footer_container {
    padding-top: 0;
    margin-top: 0;
  }

  .img-brand {
    margin-bottom: 20px;
    width: 48%;
    margin-top: -11px;
  }



}


@media (max-width: 768px) {
  .title-area-img {
    position: relative;
    display: none;
}

.great-logo-on {
  width: 10%;
  position: absolute;
  margin-top: -43px;
  border-radius: 7px;
  /* z-index: 11111; */
  left: 0;
}




.timeline>li .timeline-image h4, .timeline>li .timeline-image .h4 {
  margin-top: 3px;
}


.image-order img {
  width: 100%;
  height: 72%;
}

.order_cont h4 {
  font-size: 19px;
  margin-bottom: 0rem;
  font-weight: 600;
  margin-top: 23px;
}


.rupee_details p {
  margin-top: 34px;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
}

.delivery-time h4 {
  margin-top: 29px;
  font-size: 17px;
  font-weight: 600;
  text-align: left;
  margin-left: 0px;
}

.total-price p {
  font-size: 19px;
  font-weight: 700;
  margin-top: -1rem;
}

.menu_width {
  width: 46%;
}

.email-tagj {
  margin-left: -10rem;
}

.item {
  background-color: #fffbfb00;
  height: 252px;
}
}


@media (max-width: 576px) {
  .slider_section .slider_container .slick-prev {
    left: 10px;
  }
  .great-logo-on {
    width: 13%;
    position: absolute;
    margin-top: -43px;
    border-radius: 7px;
    /* z-index: 11111; */
    left: 0;
}

  .slider_section .slider_container .slick-next {
    right: 10px;
  }

  .section-contact .header-section .big-title {
    font-size: 70px;
}

  .sidenav {
    height: 100%;
    width: 100%;
  }

  .tabset {
    max-width: 65em;
    margin: 0px -1px 0px 4px;
}
  
  .listCard{
    padding: 0;
  }
  

  .slider_section .slider_container .slick-active .img-box {
    margin-top: 0;
  }

  .menu_width {
    width: 90%;
}

.img-brand {
  margin-bottom: 20px;
  width: 62%;
  margin-top: -11px;
}

.tabset {
  max-width: 65em;
  margin: 0px -1px 0px 4px;
}

/* big plates */

.item {
  height: 215px;
}

}

@media (max-width: 480px) {
  .sidenav {
    height: 100%;
    width: 100%;
  }
  
  .great-logo-on {
    width: 17%;
    position: absolute;
    margin-top: -43px;
    border-radius: 7px;
    /* z-index: 11111; */
    left: 0;
  }

  .tabset > label {
    width: 174px;
}
  

  .listCard{
    padding: 0;
  }

  .menu_width {
    width: 100%;
}

.img-brand {
  margin-bottom: 20px;
  width: 94%;
  margin-top: -11px;
}

.tabset {
  max-width: 65em;
  margin: 0px 0px 0px 30px;
}
.custom_menu-btn {
  z-index: 9;
  position: absolute;
  right: -1px;
  top: 91px;
}

.title-area-data h2 {
  font-size: 61px;
  font-family: 'Fredoka', sans-serif;
}

.image-order img {
  width: 100%;
  height: 100%;
}

.order_cont h4 {
  font-size: 13px;
  /* margin-bottom: 3rem; */
  font-weight: 600;
  margin-top: 23px;
}

.rupee_details p {
  margin-top: 30px;
  font-weight: 600;
  font-size: 15px;
  text-align: left;
}

.delivery-time h4 {
  margin-top: 23px;
  font-size: 13px;
  font-weight: 600;
  text-align: left;
  margin-left: 0px;
}

.total-price p {
  font-size: 15px;
  font-weight: 700;
  margin-top: -15px;
}

.item {
  background-color: #fffbfb00;
  height: 300px;
}

.great_matter p {
  text-align: end;
  font-weight: 800;
  font-size: 11px;
  margin: auto;
  /* display: inline-block; */
  padding-right: 21px;
  background: aliceblue;
}




/* plats all big */
.item {
  background-color: #fffbfb00;
  height: 204px;
}

.slider_section {
  padding-top: 8px;
  padding-bottom: 273px;
}

.profile img {
  width: 50%;
}

.detail h2 {
  font-size: 51px;
  text-align: center;
}

.detail p {
  margin-top: -7px;
  text-align: center;
}

.email-tagj {
  margin-left: 0rem;
  margin-top: 3rem;
}

.main-side-bar a:nth-child(4) {
  bottom: -11rem;
  left: 203px;
  width: 43%;
  padding: 11px;
}

  
}

@media (max-width: 420px) {
  .User_option a {
    margin-left: 15px;
  }

  .menu_width {
    width: 69%;
}

.tabset > label {
  width: 184px;
}

.great-logo-on {
  width: 17%;
  position: absolute;
  margin-top: -43px;
  border-radius: 7px;
  /* z-index: 11111; */
  left: 0;
}

.tabset {
  max-width: 65em;
    margin: 0px 0px 0px 15px;
}



.sidenav {
  height: 100%;
  width: 100%;
}

.listCard{
  padding: 0;
}

.img-brand {
  margin-bottom: 20px;
  width: 94%;
  margin-top: -11px;
}


  .User_option a span {
    display: none;
  }

  .slider_section {
    padding-bottom: 80%;
}

  .menu_width {
    width: 100%;
}

.custom_menu-btn {
  z-index: 9;
  position: absolute;
  right: -1px;
  top: 87px;
}
.form-container {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  background: #1b1a1a;
  text-align: center;
  padding: 5rem 2.5rem;
  border-radius: 0.313rem;
  /* margin: 5rem 17.125rem; */
  width: 85%;
  height: 70%;
  margin: auto;
  box-shadow: 3px 0.25rem 1.25rem rgba(27, 27, 27, 0.2);
}

.deal-week h2 {
  font-size: 33px;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #00b07d;
  font-family: 'Fredoka', sans-serif;
}

.title-area-data h2 {
  font-size: 53px;
  font-family: 'Fredoka', sans-serif;
}
.title-area-data p {
  font-family: 'Fredoka', sans-serif;
  text-align: center;
}

.heading_container h2 {
  font-size: 2.5rem;
  position: relative;
  font-weight: bold;
  margin-bottom: 0;
  font-family: "bodoni svtytwo sc itc tt book", sans-serif;
  font-weight: 400;
  padding-bottom: 7px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}


.cart svg {
  overflow: hidden;
  vertical-align: middle;
  width: 36%;
  margin-top: -5px;
}


/* big plates */
.item {
  background-color: #fffbfb00;
  height: 319px;
}



/* sidenav */
.detail h2 {
  font-size: 55px;
  margin-top: 10px;
  text-align: center;
  /* text-align: left; */
}

.detail p {
  color: #fff;
  font-size: 19px;
  margin-top: -7px;
  text-align: center;
}

.email-tagj {
  margin-left: 0rem;
  margin-top: 0rem;
  color: #ffff;
  font-size: 18px;
  margin-bottom: 0rem;
  font-weight: 700;
}

.profile img {
  width: 52%;
}
.main-side-bar a:nth-child(4) {
  bottom: -11rem;
  left: 203px;
  width: 43%;
  padding: 11px;
}


.main-side-bar {
  text-align: left;
  padding: 24px;
  line-height: 40px;
}

.parallax {
  margin-top: 0rem;
  margin-bottom: 4rem;

}


.timeline>li .timeline-image h4, .timeline>li .timeline-image .h4 {
  margin-top: 3px;
}



}

@media (max-width: 393px) {
  .tabset > label {
    width: 164px;
}
}

@media (max-width: 376px) {
  .menu_width {
    width: 69%;
}

.tabset > label {
  width: 155px;
}

.great-logo-on {
  width: 19%;
  position: absolute;
  margin-top: -43px;
  border-radius: 7px;
  /* z-index: 11111; */
  left: 0;
}

.page-section .header-section .big-title {
  font-size: 107px;
}

.main-side-bar a:nth-child(4) {
  bottom: -9rem;
  left: 157px;
  width: 50%;
}

.deal-week h2 {
  font-size: 33px;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #00b07d;
  font-family: 'Fredoka', sans-serif;
}

.menu_width {
  width: 100%;
}

.img-brand {
  margin-bottom: 20px;
  width: 94%;
  margin-top: -11px;
}

.custom_menu-btn {
  z-index: 9;
  position: absolute;
  right: -5px;
  top: 80px;
}

.input-search:focus {
    width: 231px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.coolest-texh h2 {
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  margin-top: 50px;
}

.coolest-texh p {
  text-align: center;
  font-size: 14px;
}

.menu {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background: #fbfbfb;
  padding: 13px;
  margin-bottom: 1rem;
}




.image-order img {
  width: 100%;
  height: 65%;
}

.image-order img {
width: 38px;
height: 65%;
}

.order_cont h4 {
font-size: 13px;
/* margin-bottom: 3rem; */
font-weight: 600;
margin-top: 12px;
}

.rupee_details p {
margin-top: 21px;
font-weight: 600;
font-size: 15px;
text-align: left;
}

.delivery-time h4 {
margin-top: 1px;
font-size: 12px;
font-weight: 900;
text-align: left;
margin-left: 4px;
}

.total-price {
margin-top: 27px;
/* font-size: 26px; */
/* background: #e5e5e547; */
/* display: inline; */
padding: 9px;
height: 49px;
font-weight: 700;
}

.title-area-data h2 {
font-size: 46px;
font-family: 'Fredoka', sans-serif;
}


.item {
  background-color: #fffbfb00;
  height: 284px;
}


}



@media (max-width: 320px) {
  .item {
    background-color: #fffbfb00 !important;
    height: 261px !important;
}

.tabset > label {
  width: 132px;
}

.great-logo-on {
  width: 23%;
  position: absolute;
  margin-top: -43px;
  border-radius: 7px;
  /* z-index: 11111; */
  left: 0;
}

.section-contact .header-section .big-title {
  font-size: 62px;
}

.page-section .header-section .big-title {
  font-size: 91px;
}

.timeline>li .timeline-image h4, .timeline>li .timeline-image .h4 {
  margin-top: 3px;
}

.main-side-bar a:nth-child(4) {
  
  bottom: -9rem;

  left: 97px;
  /* margin-right: 17px; */
}

.main-side-bar a:nth-child(4) {
  bottom: -9rem;
  left: 97px;
  width: 61%;
  /* margin-right: 17px; */
}

}



@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}



@media (max-width: 1500px) {
  .form-container {
    margin: 5rem 32.125rem;
}
}





